<div class="row">
  <div class="col-12 mt-3 mb-2 text-primary text-center">
    <h1 class="ml-5 d-block mt-5 mb-5 font-primary">Détails des {{activities.length}} activités</h1>
  </div>
</div>
<div class="row mb-3">
  <div class="col-md-9 col-sm-12">
    <div id="periodeButtonDiv" class="row">
      <div class="col-12 m-auto mb-3">
        <span id="periodeButton" class="btn btn-secondary d-block w-100">Filtrer une période</span>
      </div>
    </div>
    <div id="periodeForm" class="row hidde">
      <div class="col-12 mx-auto mb-3">
        <form class="row">
          <!-- start_date_local -->
          <div class="col-lg-6">
            <strong class="text-muted">Période du</strong><input type="date" class="form-control" id="date" name="start_date" required>
          </div>                  
          <div class="col-lg-6">
            <strong class="text-muted">au</strong> <input type="date" class="form-control" id="date" name="end_date" required>
          </div>
          <div class="col-12 mt-2">
            <button class="btn btn-secondary d-block w-100">Filter</button>
          </div>
        </form>             
      </div>
    </div>      
  </div>
  <div class="col-md-3 col-sm-12 my-auto">
    <a href="/activities/import" class="btn btn-outline-primary d-block">Import .xls, .csv</a>
  </div>
</div>
       
{{#if activities}}
  {{#each activities}}
    <div class="row">
      <div class="col-11 mx-auto border border-top-0 border-right-0 border-left-0 border-primary mt-2 bg-light pt-2 pb-3">
        <div class="row">
          <div class="col-md-2 text-center  mt-2 mb-2 my-auto text-center">
            <large class="d-block"><strong>{{getDay this.start_date_local}}</strong></large>
            <small class="d-block text-muted">{{getMonth this.start_date_local}}-{{getYear this.start_date_local}}</small>                    
          </div>
          <div class="col-md-8 mt-2 mb-2">
            <div class="d-block">
              {{#if this.competition}}
                <i class="fas fa-flag-checkered d-inline"></i>
              {{/if}}                 
              <strong class="text-capitalize mb-2">
                {{this.name}}
              </strong>
            </div>
                          
            {{#if this.fc_moyenne}}
              <span class="badge badge-light d-block text-left mt-2 mb-2"><i class="fas fa-heartbeat text-danger"></i> moy: {{this.fc_moyenne}} bpm
              {{#if this.fc_max}} / max : {{ this.fc_max}} bpm {{/if}}
              </span>
            {{/if}}
            <span class="badge badge-grey">{{this.type}}</span>
            <span class="badge badge-grey"><i class="fas fa-compass"></i> {{stravaDist this.distance}} Km</span>
            <span class="badge badge-grey"><i class="fas fa-sort-up"></i>D+: {{this.total_elevation_gain}} m</span>
            <span class="badge badge-grey"><i class="fas fa-tachometer-alt"></i> {{adverageSpeed this.type this.distance this.moving_time}}</span>
            <span class="badge badge-grey"><i class="far fa-clock"></i> {{secondToTime this.moving_time}}</span>
            {{#if this.rpe}}
              <span class="badge badge-grey"><i class="fas fa-file-medical-alt"></i> {{rpe this.rpe}} %</span>
            {{/if}} 
            {{#if this.calories}}
              <span class="badge badge-grey"><i class="fas fa-heartbeat"></i> {{this.calories}} calories</span>
            {{/if}}
            {{#if this.tss}}
              <small class="text-muted d-block mt-2">*{{tss_sentence this.tss}}</small>
            {{/if}} 
          </div>
          <div class="col-md-2 my-auto text-center">
            {{#if this.tss}}
              <small class="d-block text-muted">Mesure d'effort</small>
              <span class="d-block mt-3"><strong>{{this.tss}}</strong>*</span>
            {{/if}}
            <a href="/activities/{{this.id}}/delete" class="btn btn-light border-0 btn-sm mt-2 delete-activity"><i class="far fa-trash-alt"></i></a>            
          </div>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}