<div class="container mt-5 bg-light">
  <div class="row">
    <div class="col-12">
      <h1 class="h2 text-center mt-5 mb-2">Modifier mon profil</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto mb-5 mt-5">
      <form action="/user/{{user._id}}/edit" method="post" id="profil">
 
        <!-- firstname -->
        <div class="form-group">
          <label for="firstname">Prénom <span class="text-danger">*</span></label>
          <input type="text" value="{{dbUser.firstname}}" class="form-control"  name="firstname"required>
        </div>      

        <!-- lastname -->
        <div class="form-group">
          <label for="lastname">Nom <span class="text-danger">*</span></label>
          <input type="text" value="{{dbUser.lastname}}" class="form-control"  name="lastname" required>
        </div>      

        <!-- sex -->
        <div class="form-group">
          <label for="sex">Sex  <span class="text-danger">*</span><small class="text-muted ml-2">Requis pour le test de masse grasse</small></label>
          <select name="sex" id="sex" class='form-control' required>
            <option value="{{dbUser.sex}}">{{sex dbUser.sex}}</option>
            <option value="M">Homme</option>
            <option value="W">Femme</option>
          </select>
        </div>      

        <!-- country -->
        <div class="form-group">
          <label for="country">Pays <span class="text-danger">*</span></label>
          <input type="text" value="{{dbUser.country}}" class="form-control"  name="country" required>
        </div>      

        <!-- city -->
        <div class="form-group">
          <label for="city">Ville <span class="text-danger">*</span></label>
          <input type="text" value="{{dbUser.city}}" class="form-control"  name="city" required>
        </div>    

        <!-- date_of_birth   -->
        <div class="form-group">
          <label for="date_of_birth">Date de Naissance <span class="text-danger">*</span><small class="text-muted ml-2">Requis pour le test de masse grasse</small></label>
          <input type="date" class="form-control" id="date" name="date_of_birth" value="{{date dbUser.date_of_birth}}" required>
        </div>

        <!-- fc_max -->
        <div class="form-group">
          <label for="fc_max">Fréquence cardiaque maximale <span class="text-danger">*</span></label>
          <select class="form-control" id="fc_max" name="fc_max" required>
            <option value="{{dbUser.fc_max}}" selected>{{dbUser.fc_max}}bpm</option>
            {{bpm_select}}
          </select>
        </div>

        <!-- height -->        
        <div class="form-group">
          <label for="height">Taille <span class="text-danger">*</span><small class="text-muted ml-2">Requis pour le test de masse grasse</small></label>
          <select class="form-control" id="height" name="height" required>
            <option value="{{dbUser.height}}" selected>{{dbUser.height}}cm</option>
            {{size_select}}
          </select>
        </div>
             
        <div class="row">
          <button type="submit" class="btn btn-primary col-md-4 d-inline mx-auto">Valider</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="alert alert-warning">* champs obligatoirs</p>
    </div>
  </div>
</div>
