<div class="container mt-5 bg-light">
  <div class="row">
    <div class="col-md-3 mt-5 text-center">
      <div class="row">
        <div class="col-12">
          <span class="d-block h4 ">{{user.firstname}} {{user.lastname}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <span class="d-block text-capitalize mb-3"><i class="fas fa-map-marker mr-2"></i> {{user.city}}, {{user.country}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="/activities/add" class="btn btn-primary mt-2 d-block"><i class="fas fa-calendar"></i> Ajouter une activité</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <a href="/health/add" class="btn btn-primary mt-2 d-block"><i class="fas fa-heart"></i> Ajouter une forme</a>
        </div>
      </div>
      {{#if health}}
        <div class="row-">
          <div class="col-12 mt-5">
            <span class="d-block h4 ">Health score</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <span class="h1">{{healthScore}}%</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-5">
            <span class="d-block h4 ">Dernière forme <span class="text-muted">{{date health.created_at}}</span></span>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-2">
            <ul id="form_status">
              <li>Poids: {{health.poids}} Kg</li>
              <li>Pouls: {{health.pouls}} Bpm</li>
              <li>Blessure: {{boolean health.blessure}}</li>
              <li>Maladie: {{boolean health.maladie}}</li>
              <li class="bg-light">Commentaire: {{health.commentaires}}</li>
            </ul>
          </div>
        </div>
      {{else}}
      <div class="row">
        <div class="col-12">
          Vous n'avez pas encore enregistré de forme
        </div>
      </div>
      {{/if}}
    </div>
    <div class="col-md-9 mb-5">
      <h1 class="h2 mt-5 mb-2 ml-3">Flux d'activités <span class="text-muted">({{activities.length}})</span></h1>
      {{#if activities}}
        {{#each activities}}
          <div class="row">
            <div class="col-10 mx-auto border border-primary mt-2">
              <div class="row">
                <div class="col-md-2 text-center text-muted mt-2 mb-2">
                  <i class="far fa-calendar fa-2x"></i>
                  <span class="d-block text-center">{{dateStrava this.start_date_local}}</span>
                </div>
                <div class="col-md-10 mt-2 mb-2">
                  <span class="h4 d-block text-capitalize">
                    {{this.name}}
                  </span>
                  <span class="badge badge-secondary">{{this.type}}</span>
                  <span class="badge badge-secondary"><i class="fas fa-compass"></i> {{stravaDist this.distance}}Km</span>
                  <span class="badge badge-secondary"><i class="fas fa-sort-up"></i>D+: {{this.total_elevation_gain}}m</span>
                  <span class="badge badge-secondary"><i class="fas fa-tachometer-alt"></i> {{adverageSpeed this.distance this.moving_time}}Km/h</span>
                  <span class="badge badge-secondary"><i class="far fa-clock"></i> {{secondToTime this.moving_time}}</span>
                  {{#if this.rpe}}
                    <span class="badge badge-secondary">Difficulté {{rpe this.rpe}}%</span>
                  {{/if}}     
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>