<div class="row pt-5 mb-2">
  <div class="col-sm-3 mx-auto bg-light">
    <div class="d-block h4 text-primary text-center">
      Aujourd'hui
    </div> 
  </div>
  <div class="col-sm-3 mx-auto bg-light">
    <div class="d-block h4 text-primary text-center">
      Forme
    </div>

    <div class="row">
      <div class="col-12">
        {{#if health}}
          <div class="row">
            <div class="col-12">
              <span class="d-block h4 ">Ma forme</span>
              <small><span class="text-muted mb-3 d-block">du {{date health.created_at}}</span></small>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="/health/{{health.id}}"><span class="h1 text-dark d-block mb-3"><i class="fas fa-heartbeat"></i> {{healthScore}}%</span></a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-2">
              <ul id="form_status">
                <li class=" text-center">Poids: {{health.poids}} Kg</li>
                <li class=" text-center">Pouls: {{health.pouls}} Bpm</li>
                <li class=" text-center">Blessure: {{boolean health.blessure}}</li>
                <li class=" text-center">Maladie: {{boolean health.maladie}}</li>
                <li class="bg-light  text-center">Commentaire: {{health.commentaires}}</li>
              </ul>
            </div>
          </div>
        {{else}}
        <div class="row">
          <div class="col-12">
            Vous n'avez pas encore enregistré de forme
          </div>
        </div>
        {{/if}}
        {{#if fc_max}}
          <span class="d-block mt-2">
            <i class="fas fa-heartbeat text-danger"></i> Fc max : {{fc_max}}bpm
          </span>              
        {{/if}}
      </div>
    </div>

  </div>
  <div class="col-sm-3 mx-auto bg-light">
    <div class="d-block h4 text-primary text-center">
      Activité
    </div>    
  </div>
</div>


