<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5">
      <h1>Profil</h1>
    </div>
  </div>
  {{#if user}}
    <div class="d-block">
      <span class="text-muted">E-mail :</span> {{user.email}}
    </div>
    <div class="d-block">
      <span class="text-muted">Nom :</span> {{user.firstname}}
    </div>
    <div class="d-block">
      <span class="text-muted">Prénom :</span> {{user.lastname}}
    </div>
    <div class="d-block">
      <span class="text-muted">Sex :</span> {{user.sex}}
    </div>
    <div class="d-block">
      <span class="text-muted">Pays: </span> {{user.country}}
    </div>
    <div class="d-block">
      <span class="text-muted">Ville: </span> {{user.city}}
    </div>
    <div class="d-block">
      <span class="text-muted">Taille :</span> {{user.size}}
    </div>
    <div class="d-block">
      <span class="text-muted">Fréquence cardiaque maximale :</span> {{user.fc_max}}
    </div>
    <div class="d-block">
      <span class="text-muted">Date de naissance</span> {{user.date_of_birth}}
    </div>
    <div class="d-block">
      <span class="text-muted">Compté créé le : {{user.created_at}}</span>
    </div>
    <a href="/user/delete/{{user._id}}" class="text-muted mt-3 d-block" id="delete_account">Supprimer mon compte</a></p>
  {{/if}}  
</div>
