<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-2 text-primary text-center">
      <h1 class="ml-5 d-block mt-5 mb-5 font-primary">Détails des {{events.length}} événements</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12">
      <span class="h4 text-primary">
        Evénements à venir 
      </span>
    </div>
  </div>
      
  {{#if events.next}}
    {{#each events.next}}
      <div class="row">
        <div class="col-12 mx-auto border border-top-0 border-right-0 border-left-0 border-primary mt-2 bg-light">
          <div class="row pt-2 pb-2">
            <div class="col-md-2 text-center  mt-2 mb-2 my-auto mx-auto">
              <div class="d-flex">
                <div class="d-block">
                  <large class="d-block"><strong>{{getDay this.date_start}}</strong></large>
                  <small class="d-block text-muted">{{getMonth this.date_start}}-{{getYear this.date_start}}</small>                 
                </div>
                <div class="d-block mr-2 ml-2">
                  <strong>-</strong>                
                </div>
                <div class="d-block">
                  <large class="d-block"><strong>{{getDay this.date_end}}</strong></large>
                  <small class="d-block text-muted">{{getMonth this.date_end}}-{{getYear this.date_end}}</small>                   
                </div>
              </div>
                     
            </div>
            <div class="col-md-5 mt-2 mb-2 my-auto d-flex text-center">                          
              <div class="d-block"><a href="/event/{{this.id}}" class="font-weight-bold text-dark">{{this.name}}</a></div>
              <div class="d-block">
                <div class="bg-light mr-2 ml-2 d-inline">{{this.type}}</div>
                <div class="bg-light mr-2 ml-2 d-inline">{{this.sport}}</div> 
                {{#if this.distance}}
                  <div class="bg-light mr-2 ml-2 d-inline">{{this.distance}}Km</div>  
                {{/if}}           
              </div>
            </div>
            <div class="col-4 m-auto text-right">
              <a href="/event/{{this.id}}" class="btn btn-outline-primary btn-sm mt-2">Plus d'informations</a> 
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class="row">
      <div class="col-12">
        <div class="d-block bg-light p-5 text-muted text-center">
          <span class="d-block my-2">
            Vous n'avez aucun événement à venir
          </span>
          <a href="/event/add" class="btn btn-outline-primary">Ajouter un événement</a>
        </div>
      </div>
    </div>
  {{/if}}

  <div class="row mb-3 mt-5">
    <div class="col-12">
      <span class="h4 text-muted">
        Evénements passés & classements
      </span>
    </div>
  </div>  
  {{#if events.last}}
    {{#each events.last}}
      <div class="row">
        <div class="col-12 mx-auto border border-top-0 border-right-0 border-left-0 border-muted mt-2 bg-light">
          <div class="row pt-2 pb-2">
            <div class="col-md-2 text-center  mt-2 mb-2 my-auto mx-auto">
              <div class="d-flex">
                <div class="d-block">
                  <large class="d-block"><strong>{{getDay this.date_start}}</strong></large>
                  <small class="d-block text-muted">{{getMonth this.date_start}}-{{getYear this.date_start}}</small>                 
                </div>
                <div class="d-block mr-2 ml-2">
                  <strong>-</strong>                
                </div>
                <div class="d-block">
                  <large class="d-block"><strong>{{getDay this.date_end}}</strong></large>
                  <small class="d-block text-muted">{{getMonth this.date_end}}-{{getYear this.date_end}}</small>                   
                </div>
              </div>
                     
            </div>
            <div class="col-md-5 mt-2 mb-2 my-auto d-flex text-center">                          
              <div class="d-block"><a href="/event/{{this.id}}" class="font-weight-bold text-dark">{{this.name}}</a></div>
              <div class="d-block">
                <div class="bg-light mr-2 ml-2 d-inline">{{this.type}}</div>
                <div class="bg-light mr-2 ml-2 d-inline">{{this.sport}}</div>             
              </div>
               
            </div>
            <div class="col-4 m-auto text-right">
              <div class="dropdown">
                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a href="/event/{{this.id}}" class="dropdown-item">Récapitulatif & classement</a>
                  <a href="/result/event/{{this.id}}/add" class="dropdown-item">Ajouter un classement</a>
                  <a href="/user/{{../user.id}}" class="dropdown-item">Joindre une activité</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

</div>
