<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-2 text-primary text-center">
      <h1 class="ml-5 d-block mt-5 mb-5 font-primary">{{team.name}}</h1>
      <h2>{{team.description}}</h2>
    </div>
  </div>
  {{#if config.is_member}}
    <div class="row">
      <div class="col-md-4  mt-2 ">
        <div class="d-block mx-auto border border-top-0 border-right-0 border-left-0 border-primary bg-light p-3">
          <div class="row pt-2 pb-2">
            <div class="col-md-12 mt-2 mb-2 my-auto d-flex text-center">                          
              <div class="d-block"><strong>{{this.name}}</strong> <small class="text-muted ml-3">Coach</small></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="/user/{{this._id}}" class="d-block"><i class="fas fa-user mr-2"></i>{{team.coach.firstname}} {{team.coach.lastname}}</a>
            </div>
          </div>  
          <div class="row pt-2 pb-2">
            <div class="col-md-12 mt-2 mb-2 my-auto d-flex text-center">                          
              <div class="d-block"><strong>{{this.name}}</strong> <small class="text-muted ml-3">Equipiers - {{team.membres.length}}</small></div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              {{#each team.membres}}
                <a href="/user/{{this._id}}" class="d-block"><i class="fas fa-user mr-2"></i>{{this.firstname}} {{this.lastname}}</a>
              {{/each}}
            </div>
          </div>          
        </div>

        {{#if config.owner}}
          <div class="row">
            <div class="col-12 m-auto">
              <a href="/team/{{this.id}}/delete" class="btn btn-light border-0 btn-sm mt-2 delete-team text-muted"><small><i class="far fa-trash-alt"></i>Supprimer la team</small></a> 
            </div>          
          </div>
        {{/if}}
      </div>
      <div class="col-md-8">
        {{#if user_events}}
          {{#each user_events}}
            <div class="row bg-light py-2">
              <div class="col-md-2 my-auto text-center">
                <large class="d-block"><strong>{{getDay this.date_start}}</strong></large>
                <small class="d-block text-muted">{{getMonth this.date_start}}-{{getYear this.date_start}}</small> 
              </div>
              <div class="col-md-10 my-auto">                 
                <div class="d-inline-block ml-2 font-weight-bold">{{this.sport}}</div>
                <div class="d-inline-block ml-2">{{this.name}}</div>
                <div class="d-inline-block ml-2">{{this.distance}}km</div>
                <div class="d-inline-block float-right"><a href="/team/{{../team._id}}/event/{{this._id}}/add" class="btn btn-outline-primary btn-sm">Ajouter au programme</a></div>
              </div>
            </div>
          {{/each}}
        {{/if}}        
        <span class="h4 my-3 text-muted d-block">Evénements à venir</span>
        {{#if team.events}}
          {{#each team.events}}
            {{#if this.user}}
              <div class="row bg-light my-2 py-2">
                <div class="col-md-2 my-auto text-center">
                  <large class="d-block"><strong>{{getDay this.date_start}}</strong></large>
                  <small class="d-block text-muted">{{getMonth this.date_start}}-{{getYear this.date_start}}</small> 
                </div>
                <div class="col-md-10 my-auto">                 
                  <div class="d-inline-block ml-2 font-weight-bold">{{this.sport}}</div>
                  <div class="d-inline-block ml-2">{{this.name}}</div>
                  <div class="d-inline-block ml-2">{{this.distance}}km</div>
                  <div class="d-inline-block float-right"><a href="/event/{{this._id}}" class="btn btn-outline-primary btn-sm">Voir le détail</a></div>
                </div>
              </div>              
            {{/if}}
          {{/each}}
        {{else}}
          <div class="row">
            <div class="col-12">
              <div class="d-block bg-light p-5 text-muted text-center">
                <span class="d-block my-2">
                  Vous n'avez aucun événement à venir
                </span>
                <a href="/event/add" class="btn btn-outline-primary">Créer un événement</a>
              </div>
            </div>
          </div>        
        {{/if}}
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="col-12  text-center">
        <p class="bg-light p-5 text-muted"><i class="fas fa-lock mr-2"></i>Vous n'êtes pas membre de cette team. Pour en faire partie, vous devez avoir été invité à la rejoindre par son coach.</p>
      </div>
    </div>
  {{/if}}
</div>
