<div class="container">
  <div class="row">
    <div class="col-12 mt-3 mb-2 text-primary text-center">
      <h1 class="ml-5 d-block mt-5 mb-5 font-primary">Détails des {{teams.length}} teams</h1>
    </div>
  </div>
  <div class="row">    
    {{#each teams}}
      <div class="col-md-6 col-lg-4 mt-2 p-2">
        <div class="d-block  border border-top-0 border-right-0 border-left-0 border-primary  bg-light p-2">
          <div class="row pt-2 pb-2">
            <div class="col-md-12 mt-2 mb-2 my-auto d-flex text-center">                          
              <div class="d-block"><strong>{{this.name}}</strong> <small class="text-muted ml-3">{{this.membres.length}} équipiers</small></div>
            </div>
          </div>
          <div class="d-inline-block">
            <a href="/team/{{this._id}}" class="btn btn-outline-primary">Voir</a>
          </div>
          {{#if ../config.owner}}
            <div class="d-inline-block float-right">
              <a href="/team/{{this.id}}/delete" class="btn btn-light border-0 btn-sm mt-2 delete-team text-muted"><small><i class="far fa-trash-alt mr-2"></i>Supprimer la team</small></a>         
            </div>
          {{/if}}          
        </div>
      </div>
    {{/each}}
  </div>
</div>
