<div class="container mt-5 bg-light">
  <div class="row">
    <div class="col-12">
      <h1 class="h2 text-center mt-5 mb-2">Ma forme du jour</h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-8 mx-auto mb-5 pt-5">
      <span class="h1"><i class="fas fa-heartbeat"></i> {{health_Score}}%</span>
    </div>
  </div>
  <input type="hidden" value="{{health_detail.humeur}}" class="score">
  <input type="hidden" value="{{health_detail.sommeil}}" class="score">
  <input type="hidden" value="{{health_detail.lassitude}}" class="score">
  <input type="hidden" value="{{health_detail.recuperation}}" class="score">
  <input type="hidden" value="{{health_detail.stress}}" class="score">
  {{#if health_detail.weather}}
    <div class="row">
      <div class="col-12 text-center">
        <span class="h4">Météo du jour chez vous</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mt-2 text-center text-md-right">
        <img src="http://openweathermap.org/img/w/{{health_detail.weather.openweathermap_icon}}.png" alt="{{health_detail.weather.weather_main}}" class="img img-fluid">
      </div>
      <div class="col-md-6 text-center text-md-left">
        <span class="d-block">Température minimale: {{health_detail.weather.main_temp_min}}°</span>
        <span class="d-block">Température maximale: {{health_detail.weather.main_temp_max}}°</span>
        <span class="d-block">Humidité: {{health_detail.weather.main_humidity}}%</span>
        <span class="d-block">Vitesse du vent: {{health_detail.weather.wind_speed}}Km/h</span>        
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-12 text-center mt-5">
      <span class="h4">Détails de ma forme</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 mt-2 mx-auto">
      <canvas id="scoreHealthChart" width="400" height="400"></canvas>
      <div class="row">
        <div class="col-6 text-left">
          <strong class="text-muted ml-5">Mauvais</strong>
        </div>
        <div class="col-6 text-right">
          <strong class="text-muted">Excellent</strong>
        </div>
      </div>      
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-12">
      <a href="/user/{{user.id}}" class="btn btn-primary mb-5">< Retour au journal</a>
    </div>
  </div>
</div>