<!DOCTYPE html>
<html>
  <head>
    <title>Feezify.me - Application de gestion d'entrainement sportif</title>
    <meta dname="description" content="Application de gestion d'entrainement sportif: Running - Trail - Triathlon - Cyclisme - VTT - Randonnée - Marche">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119879264-1"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-33078029-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    {{#if index}}
      <div id="index">
      <!-- body -->
        {{{body}}}
      </div>        
    {{else}}
      <header class="container">
        <!-- Begin Menu Navigation
        ================================================== -->
        <nav class="navbar navbar-expand-lg navbar-light bg-white mediumnavigation nav-down">
            <div class="container pr-0"> 
              <!-- Site Title
              ================================================== -->
              <!-- Begin Logo -->
              
              <a class="navbar-brand row" href="/">
                  
                  <div class="mainheading">
                      <span class=" h1 sitetitle text-center">feezify:me</span>
                      <p class="lead">
                          <em>by Nicolas Jouanno</em>
                      </p>
                  </div>

              </a>

              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse" id="navbarMediumish">
                  <!-- Begin Menu -->
                  <ul class="navbar-nav ml-auto">
                    {{#if user}}
                      <li class="nav-item">
                        <a class="nav-link  font-primary text-uppercase mr-2" href="/user/{{user._id}}?skip=true">Tableau de bord </a>
                      </li>
                    {{else}}
                      {{#if login}}
                      {{else}}
                        <li class="nav-item">
                          <a class="nav-link  font-primary text-uppercase mr-2" href="/user/login">Se connecter</a>
                        </li>
                      {{/if}}
                    {{/if}}

                    <li class="nav-item">
                      <a class="nav-link ml-md-3  font-primary text-uppercase mr-2" href="https://blog.nicolasjouanno.com/stories/index.html" rel="nofollow" target="_blank">Blog</a>
                    </li>

                    <li class="nav-item">
                      <a class="btn btn-outline-primary ml-md-3  font-primary text-uppercase mr-2" href="https://blog.nicolasjouanno.com/index.html#cta"><i class="far fa-envelope mr-2"></i>S'abonner</a>
                    </li>

                    <li class="nav-item">
                      <div class="input-group mb-3">
                        <button class="btn btn-outline-light ml-md-3 dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v mr-1 text-muted"></i></button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" href="https://blog.nicolasjouanno.com/shop/index.html" rel="nofollow" target="_blank">Shopping</a>
                          <a class="dropdown-item" href="https://blog.nicolasjouanno.com/pages/soutenir.html" rel="nofollow" target="_blank">Soutenir</a>
                          <a class="dropdown-item" href="https://nicolasjouanno.com/creation-site-internet.html" rel="nofollow" target="_blank">Services</a>
                          <a class="dropdown-item" href="https://nicolasjouanno.com/" rel="nofollow" target="_blank">A propos</a>
                          {{#if user}}
                            <a class="dropdown-item border border-bottom-0 border-right-0 border-left-0 mt-2 pt-2 text-danger" href="/user/logout" >Se déconnecter</a>
                          {{/if}}
                        </div>
                      </div>
                    </li>
                  </ul>
                  <!-- End Menu -->
              </div>

            </div>
        </nav>    
      <!-- End Navigation
      ================================================== -->    
      </header>

      <div class="container">
        {{{body}}}
      </div>              
    {{/if}}
    </div>
    <footer>
      <div class="row">
        <div class="col-11 mx-auto text-center mt-2">
          Réalisé avec <i class="fas fa-heart text-primary"></i> par <a title="Nicolas Jouanno - PRODUCT MANAGER, skills MARKETING, DESIGN & TECH" href="https://nicolasjouanno.com" rel="nofollow" target="_blank" class="text-primary">Nicolas Jouanno</a> &copy; 2018 feezify.me - <a href="/mentions-legales" class="text-primary">Mentions légales</a>
          {{#if user}}
            - <a href="/user/delete/{{user._id}}" class="text-muted" id="delete_account">Supprimer mon compte</a></p>
          {{/if}}
        </div>
      </div>      
    </footer>

    <!-- global -->
    <script src="/app.js"></script>
    <!-- bootstrapp -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <!-- fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
  </body>
</html>